@model List<Speise>
@{
    ViewData["Title"] = "Hauptseite";
}

<div class="text-center">
    <h1 class="display-4">Speisen</h1>
</div>

<table id="SpeisenTable" class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <td class="equal-width">Speise</td>
            <td class="equal-width">Notizen</td>
            <td class="equal-width">Sterne</td>
            <td class="equal-width">Zutaten</td>
            <td class="equal-width">Aktionen</td> <!-- New column for delete button -->
        </tr>
    </thead>

    <tbody>
        @foreach (Speise speise in Model)
        {
            <tr>
                <td class="equal-width">
                    <p>@speise.Titel</p>
                </td>
                <td class="equal-width">
                    <p>@speise.Notizen</p>
                </td>
                <td class="equal-width">
                    <p>@speise.Sterne</p>
                </td>
                <td class="equal-width">
                    <ul>
                        @foreach (Zutat zutat in speise.Zutaten)
                        {
                            <li>@zutat.ToString()</li>
                        }
                    </ul>
                </td>
                <td class="equal-width">
                    <button class="btn btn-danger" onclick="openConfirmDeleteModal(@speise.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Löschen bestätigen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Wollen Sie wirklich löschen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="deleteSpeise()">Ja</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nein</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var deleteId;

        function openConfirmDeleteModal(id) {
            deleteId = id;
            $('#confirmDeleteModal').modal('show');
        }

        function deleteSpeise() {
            $.ajax({
                type: "DELETE",
                url: "/api/Speisen/Delete?id=" + deleteId,
                success: function (result) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
            $('#confirmDeleteModal').modal('hide');
        };

        $(document).ready(function () {
            $('#confirmDeleteModal .modal-footer .btn-secondary').on('click', function () {
                $('#confirmDeleteModal').modal('hide');
            });
            $('#confirmDeleteModal .modal-header .close').on('click', function () {
                $('#confirmDeleteModal').modal('hide');
            });
        });
    </script>
}
